html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@font-face {
  font-family: Avenir;
  font-style: normal;
  font-weight: 400;
  src: url(/src/fonts/AvenirNextCyr-Regular.woff);
}
@font-face {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  src: url(/src/fonts/AvenirNextCyr-Medium.woff);
}
@font-face {
  font-family: Avenir;
  font-style: normal;
  font-weight: 600;
  src: url(/src/fonts/AvenirNextCyr-Demi.woff);
}
@font-face {
  font-family: Avenir;
  font-style: normal;
  font-weight: 700;
  src: url(/src/fonts/AvenirNextCyr-Bold.woff);
}
h1 {
  font-weight: 600;
  font-size: 5em;
}

body {
  font-family: Avenir;
  font-size: 10px;
  color: #333;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px 0;
  box-sizing: border-box;
}

.checkbox {
  position: absolute;
  z-index: -10;
  opacity: 0;
}
.checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkbox + label::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  flex: 0 0 auto;
  border: 2px #EAECEE solid;
  background-color: #EAECEE;
  border-radius: 50%;
  margin-right: 15px;
}
.checkbox:checked + label::before {
  border-color: #FFDD2D;
  background-color: #fff;
  transition: background-color 0.4s;
}

label {
  cursor: pointer;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 14px;
}
.header-logo {
  margin-right: 15px;
}
.header-text {
  margin-right: auto;
}
.header-title {
  font-weight: 700;
  color: #878B92;
  font-size: 1.5em;
  line-height: 18.38px;
}
.header-subtitle {
  color: #878B92;
  font-size: 1.5em;
  line-height: 18.38px;
}
.header-phone {
  color: #333;
  font-weight: 700;
  font-size: 1.8em;
  line-height: 22.05px;
}
@media (max-width: 561px) {
  .header {
    font-size: 8px;
  }
}
@media (max-width: 561px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .header-phone {
    font-size: 1.5em;
  }
}

.main {
  position: relative;
  box-sizing: border-box;
  padding: 100px 0;
  overflow: hidden;
  background: linear-gradient(90deg, #F6F7F8 44.45%, rgba(246, 247, 248, 0) 82.16%);
}
.main-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -15;
  bottom: 0;
  right: 0;
  background: #F6F7F8;
  box-shadow: inset 0px 44px 50px #E6E7E8;
}
.main-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}
.main-content {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}
.main-subtitle {
  font-size: 1.8em;
  line-height: 22.05px;
  margin-bottom: 10px;
}
.main-title {
  line-height: 61.25px;
  margin-bottom: 40px;
}
.main-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.main-card {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  box-sizing: border-box;
  padding: 20px;
  background-color: #EAECEE;
  flex-direction: column;
  justify-content: left;
  border-radius: 10px;
  text-align: left;
}
.main-card--text {
  font-size: 1.8em;
}
@media (max-width: 1511px) {
  .main-img {
    right: -180px;
  }
}
@media (max-width: 1211px) {
  .main-img {
    bottom: 0;
    right: -100px;
    top: auto;
    width: 600px;
  }
}
@media (max-width: 911px) {
  .main-cards {
    flex-direction: column;
  }
  .main-cards {
    max-width: 400px;
  }
  .main-content {
    text-align: center;
    font-size: 8px;
  }
  .main-img {
    width: 100%;
    right: -200px;
  }
  .main-title {
    line-height: 40px;
  }
}
@media (max-width: 511px) {
  .main {
    padding: 50px 0;
  }
  .main-title {
    font-size: 0.8em;
  }
  .main-img {
    display: width 100%;
    right: -50px;
  }
  .main-cards {
    max-width: 500px;
  }
}

.quiz {
  padding: 70px 15px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.quiz-wrapper {
  width: 540px;
  display: flex;
  flex-direction: column;
}
.quiz-title {
  font-weight: 600;
  line-height: 36.75px;
  font-size: 3em;
}
.quiz-text {
  font-weight: 400;
  line-height: 36.75px;
  font-size: 3em;
  margin-bottom: 40px;
}
.quiz-form {
  display: flex;
  flex-direction: column;
}
.quiz-agree {
  text-align: center;
  width: 90%;
  font-size: 1.2em;
  line-height: 15.11px;
  margin: 0 auto 20px;
  color: #878B92;
}
.quiz-agree a {
  color: #FFDD2D;
  text-decoration: underline;
}
.quiz-btn {
  width: 100%;
  background-color: #FFDD2D;
  padding: 15px 0 13px;
  text-align: center;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 1.8em;
  line-height: 22.05px;
  font-weight: 600;
}
.quiz-footer {
  width: 50%;
}
@media (max-width: 951px) {
  .quiz {
    flex-direction: column-reverse;
  }
}
@media (max-width: 581px) {
  .quiz-title {
    font-size: 5.17vw;
  }
  .quiz-text {
    font-size: 5.17vw;
  }
  .quiz-wrapper {
    width: 100%;
  }
}

.form {
  position: relative;
}
.form-title {
  margin-bottom: 20px;
  font-size: 2.5em;
  line-height: 30.63px;
  color: #878B92;
}
.form-list {
  margin-bottom: 30px;
}
.form-li {
  font-size: 1.8em;
  line-height: 40px;
}
.form-input {
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 2px #EAECEE solid;
  padding: 13px 14px;
  font-size: 1.8em;
  line-height: 22.05px;
  outline: none;
  border-radius: 6px;
}
.form-input::-moz-placeholder {
  color: #333;
}
.form-input:-ms-input-placeholder {
  color: #333;
}
.form-input::placeholder {
  color: #333;
}
.form-input:focus {
  border-color: #FFDD2D;
}
.form-select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-bottom: 20px;
  outline: none;
  border-radius: 6px;
  font-size: 1.8em;
  line-height: 22.05px;
}
.form::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.3) url(/src/gif/sending.gif) center/40px no-repeat;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
}
.form.sending::after {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 381px) {
  .form-title {
    margin-bottom: 3.45vw;
    font-size: 5vw;
    line-height: 5.17vw;
  }
  .form-list {
    margin-bottom: 5.17vw;
  }
  .form-li {
    font-size: 4vw;
    line-height: 6.9vw;
  }
  .form-input {
    margin-bottom: 3.45vw;
    font-size: 4vw;
    line-height: 4vw;
    border-radius: 1vw;
  }
  .form-select {
    margin-bottom: 3.45vw;
    border-radius: 1vw;
    font-size: 4vw;
    line-height: 4vw;
  }
}

.error {
  border: 2px solid #aaa;
}

.select {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 20;
  border: 2px #EAECEE solid;
  box-sizing: border-box;
}
.select[data-state=active] {
  border-color: #FFDD2D;
}
.select[data-state=active] .select-title::after {
  transform: translate(3px, -50%) rotate(180deg);
}
.select[data-state=active] .select-items {
  max-height: 200px;
  border-radius: 0 0 6px 6px;
  border: 2px #EAECEE solid;
}
.select-items {
  border: none;
  position: absolute;
  top: 50px;
  left: -2px;
  max-height: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 10;
  background-color: #fff;
  transition: all 0.3s ease-out;
}
.select-input {
  display: none;
  pointer-events: none;
}
.select-input:checked + label {
  background-color: #E6E7E8;
}
.select-input:checked + label::after {
  content: attr(data-value);
}
.select-label {
  max-height: 50px;
  padding: 13px 14px;
  font-weight: 500;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
.select-label:hover {
  background-color: #EAECEE;
}
.select-label::before {
  opacity: 1;
}
.select-title {
  color: #333;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 13px 14px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 15;
}
.select-title::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 20px;
  display: block;
  width: 13px;
  height: 8px;
  transition: all 0.3s ease-out;
  background: no-repeat url(/src/icons/arrow.svg);
}
@media (max-width: 381px) {
  .select-items {
    top: 43px;
  }
}

.select-empty {
  border: 2px #aaaaaa solid;
}

.partners {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.partners img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer {
  background-color: #F6F7F8;
  padding: 30px 0;
  box-sizing: border-box;
  color: #878B92;
  font-size: 1.5em;
  line-height: 18.38px;
}
.footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer-phone {
  font-weight: 700;
  font-size: 1.2em;
}
.footer-address {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.footer-address span {
  display: block;
}
@media (max-width: 711px) {
  .footer {
    padding: 4.2vw 0;
    font-size: 2.1vw;
    line-height: 2.5vw;
  }
  .footer-phone {
    font-size: 2.5vw;
  }
}
@media (max-width: 511px) {
  .footer {
    font-size: 1.2em;
    line-height: 1.4em;
  }
  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer-address {
    text-align: center;
  }
  .footer-contact {
    margin-bottom: 10px;
    text-align: center;
  }
  .footer-phone {
    font-size: 1.2em;
  }
}

.progressbar {
  position: -webkit-sticky;
  position: sticky;
  justify-self: right;
  top: 3.65vw;
  right: 0;
  width: 28.125vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #F6F7F8;
  border-radius: 1vw;
  box-sizing: border-box;
  padding: 1.5vw;
  display: flex;
  flex-wrap: wrap;
}
.progressbar-title {
  font-size: 1.3vw;
  font-weight: 600;
  line-height: 1.5vw;
  width: 80%;
  color: #878B92;
  margin-bottom: 10px;
}
.progressbar-value {
  font-size: 1.3vw;
  font-weight: 700;
  line-height: 30.63px;
  margin-left: auto;
}
.progressbar-line {
  width: 100%;
  height: 0.625vw;
  background-color: #EAECEE;
  border-radius: 0.4vw;
  margin-bottom: 0.36vw;
}
.progressbar-complete {
  height: 100%;
  width: 94%;
  border-radius: 0.4vw;
  background-color: #FFDD2D;
}
.progressbar-text {
  font-size: 0.9vw;
  line-height: 1.15vw;
}
@media (max-width: 1250px) {
  .progressbar {
    width: 350px;
    border-radius: 12px;
    padding: 1.8em;
  }
  .progressbar-title {
    font-size: 1.6em;
    line-height: 1.6em;
  }
  .progressbar-value {
    font-size: 1.6em;
  }
  .progressbar-line {
    height: 8px;
    border-radius: 5px;
    margin-bottom: 0.36vw;
  }
  .progressbar-complete {
    border-radius: 5px;
  }
  .progressbar-text {
    font-size: 12px;
    line-height: 14px;
  }
}
@media (max-width: 951px) {
  .progressbar {
    margin: 0 0 30px auto;
    width: 534px;
    border-radius: 20px;
    padding: 3em;
  }
  .progressbar-title {
    font-size: 2.5em;
    line-height: 32px;
  }
  .progressbar-value {
    font-size: 2.5em;
  }
  .progressbar-line {
    height: 12px;
    border-radius: 8px;
    margin-bottom: 7px;
  }
  .progressbar-complete {
    border-radius: 8px;
  }
  .progressbar-text {
    font-size: 1.8em;
    line-height: 2.2em;
  }
}
@media (max-width: 581px) {
  .progressbar {
    width: 100%;
    margin: 0 0 5.17vw auto;
    border-radius: 3.45vw;
    padding: 5.17vw;
  }
  .progressbar-title {
    font-size: 4.31vw;
    line-height: 5.52vw;
  }
  .progressbar-value {
    font-size: 4.31vw;
    line-height: 5.52vw;
  }
  .progressbar-line {
    height: 2.07vw;
    border-radius: 1.38vw;
    margin-bottom: 1.2vw;
  }
  .progressbar-complete {
    border-radius: 1.38vw;
  }
  .progressbar-text {
    font-size: 3.1vw;
    line-height: 3.8vw;
  }
}