// Null styles ====================
@import "_null.scss";

// Fonts ==========================
@font-face {
    font-family: Avenir;
    font-style: normal;
    font-weight: 400;
    src: url(/src/fonts/AvenirNextCyr-Regular.woff);
}
@font-face {
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    src: url(/src/fonts/AvenirNextCyr-Medium.woff);
}
@font-face {
    font-family: Avenir;
    font-style: normal;
    font-weight: 600;
    src: url(/src/fonts/AvenirNextCyr-Demi.woff);
}
@font-face {
    font-family: Avenir;
    font-style: normal;
    font-weight: 700;
    src: url(/src/fonts/AvenirNextCyr-Bold.woff);
}
h1 {
    font-weight: 600;
    font-size: 5em;
}
// Main styles ====================
body {
    font-family: Avenir;
    font-size: 10px;
    color: #333;
}
.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px 0;
    box-sizing: border-box;
}
// Next styles working only if label AFTER input
.checkbox {
    position: absolute;
    z-index: -10;
    opacity: 0;
    & + label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        &::before {
            content: '';
            display: inline-block;
            width: 26px;
            height: 26px;
            flex: 0 0 auto;
            border: 2px #EAECEE solid;
            background-color: #EAECEE;
            border-radius: 50%;
            margin-right: 15px;
        }
    }
    &:checked + label::before {
        border-color: #FFDD2D;
        background-color: #fff;
        transition: background-color 0.4s;
    }
}
label {
    cursor: pointer;
}
// Header =========================
.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 14px;
    &-logo {
        margin-right: 15px;
    }
    &-text {
        margin-right: auto;
    }
    &-title {
        font-weight: 700;
        color: #878B92;
        font-size: 1.5em;
        line-height: 18.38px;
    }
    &-subtitle {
        color: #878B92;
        font-size: 1.5em;
        line-height: 18.38px;
    }
    // &-contact {
    // }
    &-phone {
        color: #333;
        font-weight: 700;
        font-size: 1.8em;
        line-height: 22.05px;
    }
    @media (max-width:561px) {
        font-size: 8px;
    }
    @media (max-width:561px) {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &-phone {
            font-size: 1.5em;
        }
        
    }
}

// Main section ===================

.main {
    position: relative;
    box-sizing: border-box;
    padding: 100px 0;
    overflow: hidden;
    background: linear-gradient(90deg, #F6F7F8 44.45%, rgba(246, 247, 248, 0) 82.16%);

    &-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -15;
        bottom: 0;
        right: 0;
        background: #F6F7F8;
        box-shadow: inset 0px 44px 50px #E6E7E8;
    }
    &-img {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -10;
    }
    &-content {
        display: flex;
        flex-direction: column;
        max-width: 800px;
    }
    &-subtitle {
        font-size: 1.8em;
        line-height: 22.05px;
        margin-bottom: 10px;
    }
    &-title {
        line-height: 61.25px;
        margin-bottom: 40px;
    }
    &-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    &-card {
        min-width: fit-content;
        box-sizing: border-box;
        padding: 20px;
        background-color: #EAECEE;
        flex-direction: column;
        justify-content: left;
        border-radius: 10px;
        text-align: left;
        // &--img {
        // }
        &--text {
            font-size: 1.8em;
        }
    }
    @media (max-width:1511px) {
        &-img {
            right: -180px;
        }
    }
    @media (max-width:1211px) {
        &-img {
            bottom: 0;
            right: -100px;
            top: auto;
            width: 600px;
        }
    }
    @media (max-width:911px) {
        &-cards {
            flex-direction: column;
        }
        &-cards {
            max-width: 400px;
        }
        &-content {
            text-align: center;
            font-size: 8px;
        }
        &-img {    
            width: 100%;
            right: -200px;
        }
        &-title {
            line-height: 40px;
        }
    }
    @media (max-width:511px) {
        padding:  50px 0;
        &-title {
            font-size: 0.8em;
        }
        &-img {
            display: width 100%;
            right: -50px;
        }
        &-cards {
            max-width: 500px;
        }
    }
}

// Quiz ===========================
.quiz {
    padding: 70px 15px 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    &-wrapper {
        width: 540px;
        display: flex;
        flex-direction: column;
    }
    &-title {
        font-weight: 600;
        line-height: 36.75px;
        font-size: 3em;
    }
    &-text {
        font-weight: 400;
        line-height: 36.75px;
        font-size: 3em;
        margin-bottom: 40px;
    }
    &-form {
        display: flex;
        flex-direction: column;
    }
    &-agree {
        text-align: center;
        width: 90%;
        font-size: 1.2em;
        line-height: 15.11px;
        margin: 0 auto 20px;
        color: #878B92;
        & a {
            color: #FFDD2D;
            text-decoration: underline;
        }
    }
    &-btn {
        width: 100%;
        background-color: #FFDD2D;
        padding: 15px 0 13px;
        text-align: center;
        border-radius: 6px;
        margin-bottom: 15px;

        font-size: 1.8em;
        line-height: 22.05px;
        font-weight: 600;
    }
    &-footer {
        width: 50%;
    }
    @media (max-width:951px) {
        flex-direction: column-reverse;
    }
    @media (max-width:581px) {
        &-title {
            font-size: 5.17vw;
        }
        &-text {
            font-size: 5.17vw;
        }
        &-wrapper {
            width: 100%;
        }
    }
}
.form {
    position: relative;
    &-title {
        margin-bottom: 20px;
        font-size: 2.5em;
        line-height: 30.63px;
        color: #878B92;
    }
    &-list {
        margin-bottom: 30px;
    }
    &-li {
        font-size: 1.8em;
        line-height: 40px;
    }
    &-input {
        margin-bottom: 20px;
        box-sizing: border-box;
        border: 2px #EAECEE solid;
        padding: 13px 14px;
        font-size: 1.8em;
        line-height: 22.05px;
        outline: none;
        border-radius: 6px;
        &::placeholder {
            color: #333;
        }
        &:focus {
            border-color: #FFDD2D;
        }
    }
    &-select {
        appearance: none;
        margin-bottom: 20px;
        outline: none;
        border-radius: 6px;

        font-size: 1.8em;
        line-height: 22.05px;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #333, $alpha: 0.3) url(/src/gif/sending.gif) center / 40px no-repeat;
        z-index: 20;
        opacity: 0;
        visibility: hidden;
    }
    &.sending::after {
        opacity: 1;
        visibility: visible;
    }
    @media (max-width:381px) {
        &-title {
            margin-bottom: 3.45vw;
            font-size: 5vw;
            line-height: 5.17vw;
        }
        &-list {
            margin-bottom: 5.17vw;
        }
        &-li {
            font-size: 4vw;
            line-height: 6.9vw;
        }
        &-input {
            margin-bottom: 3.45vw;
            font-size: 4vw;
            line-height: 4vw;
            border-radius: 1vw;
        }
        &-select {
            margin-bottom: 3.45vw;
            border-radius: 1vw;
    
            font-size: 4vw;
            line-height: 4vw;
        }
    }
}
.error {
    border: 2px solid #aaa;
}
.select {
    display: flex;
    width: 100%;
    position: relative;
    z-index: 20;
    border: 2px #EAECEE solid;
    box-sizing: border-box;

    &[data-state="active"] {
            border-color: #FFDD2D;
        .select-title {
            &::after {
              transform: translate(3px, -50%) rotate(180deg);
            }
        }
        .select-items {
            max-height: 200px;
            border-radius: 0 0 6px 6px;
            border: 2px #EAECEE solid;
        }
    }
    &-items {
        border: none;
        position: absolute;
        top: 50px;
        left: -2px;
        max-height: 0;

        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: scroll;
        
        overflow-x: hidden;
        z-index: 10;
        background-color: #fff;
        transition: all 0.3s ease-out;
    }
    &-input {
        display: none;
        pointer-events: none;
        &:checked + label {
            background-color: #E6E7E8;
            &::after {
                content: attr(data-value);
            }
        }
    }
    &-label {
        max-height: 50px;
        padding: 13px 14px;
        font-weight: 500;
        transition: all 0.2s ease-out;
        cursor: pointer;
        &:hover {
            background-color: #EAECEE;
        }
        &::before {
            opacity: 1;
        }
    }
    &-title {
        color: #333;
        font-weight: 500;

        display: flex;
        align-items: center;
        width: 100%;
        padding: 13px 14px;
        border-radius: 6px;
        cursor: pointer;
        z-index: 15;
        &::after {
            content: '';
            position: absolute;
            top: 18px;
            right: 20px;
            display: block;
            width: 13px;
            height: 8px;
            transition: all 0.3s ease-out;
            background: no-repeat url(/src/icons/arrow.svg);
        }
    }
    @media (max-width:381px) {
        &-items{
            top: 43px;
        }
    }
}
.select-empty {
    border: 2px #aaaaaa solid;
}
.partners {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    & img {
        width: fit-content;
    }
}

// Footer =========================
.footer {
    background-color: #F6F7F8;
    padding: 30px 0;
    box-sizing: border-box;
    color: #878B92;
    font-size: 1.5em;
    line-height: 18.38px;
    &-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    &-phone {
        font-weight: 700;
        font-size: 1.2em;
    }
    &-address {
        display: flex;
        flex-direction: column;
        text-align: right;
        & span {
            display: block;
        }
    }
    @media (max-width:711px) {
    padding: 4.2vw 0;
    font-size: 2.1vw;
    line-height: 2.5vw;
        &-phone {
            font-size: 2.5vw;
        }
    }
    @media (max-width:511px) {
        font-size: 1.2em;
        line-height: 1.4em;
        &-wrapper {
            flex-direction: column;
            align-items: center;
        }
        &-address {
            text-align: center;
        }
        &-contact {
            margin-bottom: 10px;
            text-align: center;
        }
        &-phone {
            font-size: 1.2em;
        }
    }
}
// Progressbar ====================
.progressbar {
    position: sticky;
    justify-self: right;
    top: 3.65vw;
    right: 0;
    width: 28.125vw;
    height: fit-content;
    background-color: #F6F7F8;
    border-radius: 1vw;
    box-sizing: border-box;
    padding: 1.5vw;
    display: flex;
    flex-wrap: wrap;

    &-title {
        font-size: 1.3vw;
        font-weight: 600;
        line-height: 1.5vw;
        width: 80%;
        color: #878B92;
        margin-bottom: 10px;
    }
    &-value {
        font-size: 1.3vw;
        font-weight: 700;
        line-height: 30.63px;
        margin-left: auto;
    }
    &-line {
        width: 100%;
        height: 0.625vw;
        background-color: #EAECEE;
        border-radius: 0.4vw;
        margin-bottom: 0.36vw;
    }
    &-complete {
        height: 100%;
        width: 94%;
        border-radius: 0.4vw;
        background-color: #FFDD2D;
    }
    &-text {
        font-size: 0.9vw;
        line-height: 1.15vw;
    }
    @media (max-width:1250px) {
        width: 350px;
        border-radius: 12px;
        padding: 1.8em;

        &-title {
            font-size: 1.6em;
            line-height: 1.6em;
        }
        &-value {
            font-size: 1.6em;
        }
        &-line {
            height: 8px;
            border-radius: 5px;
            margin-bottom: 0.36vw;
        }
        &-complete {
            border-radius: 5px;
        }
        &-text {
            font-size: 12px;
            line-height: 14px;
        }
    }
    @media (max-width:951px) {
        margin-bottom: 30px;
        width: 534px;
        border-radius: 20px;
        padding: 3em;

        &-title {
            font-size: 2.5em;
            line-height: 32px;
        }
        &-value {
            font-size: 2.5em;
        }
        &-line {
            height: 12px;
            border-radius: 8px;
            margin-bottom: 7px;
        }
        &-complete {
            border-radius: 8px;
        }
        &-text {
            font-size: 1.8em;
            line-height: 2.2em;
        }
    }
    @media (max-width:581px){
        width: 100%;
        margin: 0 0 5.17vw auto;
        border-radius: 3.45vw;
        padding: 5.17vw;

        &-title {
            font-size: 4.31vw;
            line-height: 5.52vw;
        }
        &-value {
            font-size: 4.31vw;
            line-height: 5.52vw;
        }
        &-line {
            height: 2.07vw;
            border-radius: 1.38vw;
            margin-bottom: 1.2vw;
        }
        &-complete {
            border-radius: 1.38vw;
        }
        &-text {
            font-size: 3.1vw;
            line-height: 3.8vw;
        }
    }
}